<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <meta property="og:title" content="{$header.app_title}">
    <meta property="og:site_name" content="{$header.app_name}">
    <meta property="og:description" content="{$header.app_desc}">
    <meta property="og:locale" content="en-ng">
    <meta property="og:url" content="{$header.app_url}">
    <meta name="description" content="{$header.app_desc}"/>
    <meta name="keywords" content="{$header.app_keywords}"/>
    <meta name="robots" content="{$header.app_robots}"/>
    <meta name="csrf-token" content="{csrf_token()}">
    <meta name="track-token" content="{track_token()}">
    <meta name="base-url" content="{base_url()}">
    <title>{$header.app_title}</title>

    <!-- twitter meta data -->
    <meta name="twitter:title" content="{$header.app_title}">
    <meta name="twitter:description" content="{$header.app_desc}">
    <meta name="twitter:image" content="{base_url($header.app_logo_large)}">
    <meta name="twitter:card" content="summary">

    <!-- Stylesheets
    ================================================= -->
    {foreach $css as $value}
    <link href="{$value}" rel="stylesheet" type="text/css">
    {/foreach}

    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="{base_url($header.app_fav_icon)}"/>
</head>
<body>