{include file='include/head.html'}
<!-- Preloader -->
<div id="preloader">
  <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<div id="main-wrapper" class="h-100">
  <div class="container-fluid px-0 h-100">
    <div class="row no-gutters h-100">
      <!-- Welcome Text
      ============================================= -->
      <div class="col-md-6">
        <div class="hero-wrap d-flex align-items-center h-100">
          <div class="hero-mask opacity-8 bg-primary"></div>
          <div class="hero-bg hero-bg-scroll" style="background-image:url('template/asset/image/payment.jpg');"></div>
          <div class="hero-content mx-auto w-100 h-100 d-flex flex-column">
            <div class="row no-gutters">
              <div class="col-10 col-lg-9 mx-auto">
                <div class="logo mt-5 mb-5 mb-md-0"> <a class="d-flex" href="/" title="{$header.app_name}"><img src="{$header.app_logo_white}" alt="{$header.app_name}"></a> </div>
              </div>
            </div>
            <div class="row no-gutters my-auto">
              <div class="col-10 col-lg-9 mx-auto">
                <h1 class="text-11 text-white mb-4">Get Verified!</h1>
                <p class="text-4 text-white line-height-4 mb-5">{$header.app_desc}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Welcome Text End -->

      <!-- Signup Form
      ============================================= -->
      <div class="col-md-6 d-flex align-items-center">
        <!-- SignUp Form
        ============================================= -->
        <div class="container my-4">
          <div class="row">
            <div class="col-11 col-lg-9 col-xl-8 mx-auto">
              <h3 class="font-weight-400 mb-4">Sign Up</h3>
              <form id="sign-up-form" method="post">

                <div class="form-row">

                  <div class="form-group col-md-4">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter First Name">
                  </div>

                  <div class="form-group col-md-4">
                    <label for="middleName">Middle Name</label>
                    <input type="text" class="form-control" id="middleName" name="middleName" placeholder="Enter Middle Name">
                  </div>

                  <div class="form-group col-md-4">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter Last Name">
                  </div>

                </div>

                <div class="form-row">

                  <div class="form-group col-md-6">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
                  </div>

                  <div class="form-group col-md-6">
                    <label for="email-2">reType Email Address</label>
                    <input type="email" class="form-control" id="email-2" name="email-2" placeholder="reType Your Email">
                  </div>

                </div>

                <div class="form-row">

                  <div class="form-group col-md-6">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password">
                  </div>

                  <div class="form-group col-md-6">
                    <label for="password-2">reType Password</label>
                    <input type="password" class="form-control" id="password-2" name="password-2" placeholder="reType Password">
                  </div>

                </div>

                <div class="form-row">

                  <div class="form-group col-md-12">
                    <label for="phone">Phone</label>
                    <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter Your Phone Number">
                  </div>

                </div>

                <div class="form-row">

                  <div class="form-group col-md-12">
                    <label for="captcha">Captcha</label>
                    <div class="form-control">
                      <img class="col-md-12 img-responsive" src="{$data.captcha}" alt='Human Verification'/>
                      <input type="text" class="form-control" id="captcha" name="captcha" placeholder="Enter Captcha">
                    </div>
                  </div>

                </div>

                <input type="hidden" name="track" value="{$form.track}"/>
                <input type="hidden" name="csrf" value="{$form.csrf}"/>
                <button class="btn btn-primary btn-block my-4" type="submit">Sign Up</button>
              </form>
              <p class="text-3 text-center text-muted">Already have an account? <a class="btn-link" href="login">Log In</a></p>
            </div>
          </div>
        </div>
        <!-- SignUp Form End -->
      </div>
      <!-- Signup Form End -->
    </div>
  </div>
</div>

{include file='include/script.html'}